/* filepath: c:\Users\Alumno\Desktop\pagina-programacion\estilo.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #150000;
}

h1, h2, h3 {
    color: #ffffff;
    text-align: center;
}
p, pre {
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}
b   {
    color: #ffffff;
    text-align: justify;
}

ul{ 
    color: #ffffff;
    text-align: center;

}


code {
    color: #ffffff;
    background-color: #494949;
    padding: 4px 6px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    display: inline-block;  
    margin: 0;              
    line-height: 1.2;       
}



.container {
    max-width: 800px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
}

.example {
    background-color: #ffffff;
    border-left: 5px solid #2196F3;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #00b4cc;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1976D2;
}

.code {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
}

#resultadoBucles {
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}
#resultadoBucle2 {
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}
#resultadoBucledo {
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}
#resultadoCondicionales {
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}
#resultadoBooleanos {
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}
#resultadoFunciones {
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}
#resultadoOperadores {
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}
#resultadoArrays {
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}
